<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a [routerLink]="['/']" class="navbar-brand">imgIX</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navItems">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navItems">
            <div class="navbar-nav ml-auto">
                <a [routerLink]="['/about']" class="nav-item nav-link">About</a>
                <a href="https://docs.imgix.com/apis/rendering" target="_blank" class="nav-item nav-link">Docs</a>
            </div>
        </div>
    </div>
</nav>