<div class="container mt-5">
    <h1>About this application</h1>

    <div class="about-section">
        <h2>How to user</h2>
        <div>
            <p>Application displays processed image in main section.
                The text box above the image displays the URL of the processed image.
                That URL can be copied to clipboard using the clipboard icon.
                The 'Customizable Attributes' section
                provides option to select text which will be placed on the image and, color which be used as
                semi-transparent overlay.
                Select any of the 5 images. Selected image will be processed with text and overlay color selected.</p>
            <ul> <strong>Header Links</strong>
                <li>imgIX - Load landing page.</li>
                <li>Docs - imgIX image URL API Reference.</li>
                <li>About - reference to this application page.</li>
            </ul>
        </div>
    </div>

    <div class="about-section">
        <h2>Framework</h2>
        <p>This application is build using Angular 14 framework. Application is also using different libraries like
            bootstrap 4, bootstrap-icon, toastr and angular cdk clipboard.</p>
    </div>

    <div class="about-section">
        <h2>Codebase and hosted app</h2>
        <p>Code for this application can be accessed at public
            <a href="https://github.com/Niketu/imgIX" target="_blank">github repo</a>.
            The application is also hosted live on <a href="https://niketu.github.io/imgIX/" target="_blank">github
                page</a>.
        </p>
    </div>
</div>